

.Titulo{

    font-size: 70px;
    text-decoration: overline;
}

.CajaMenu {

    width: fit-content;
    height: fit-content;
    display: inline;
    background-color: rgb(76, 198, 198);
 
}

.LogoCart {
    
    justify-content: center;

    height: 64px;
    width: 300px;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    

}
img {
    height: 30%;
    width: 30%;
    object-fit: contain;
}
